.excel-logo {
    width: 30px; /* ширина изображения */
    height: auto; /* высота будет рассчитана автоматически */
    margin-right: 10px; /* добавляем отступ справа, если нужно отделить изображение от текста */
}