{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="col-md-3 mb-2 mb-md-0">
                <a class="navbar-brand" href="{% url 'merge_files:index' %}">Merge | соединение файлов</a>
            </div>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'merge_files:index' %}" class="nav-link px-2 text-{% if active_page == 'index' %}secondary{% else %}white{% endif %}">Главная</a></li>
                <li><a href="{% url 'merge_files:files_list' %}" class="nav-link px-2 text-{% if active_page == 'files_list' %}secondary{% else %}white{% endif %}">Файлы</a></li>
                <li><a href="{% url 'report:create' %}" class="nav-link px-2 text-{% if active_page == 'report_create' %}secondary{% else %}white{% endif %}">Отчет</a></li>
                <li><a href="{% url 'report:list' %}" class="nav-link px-2 text-{% if active_page == 'report_list' %}secondary{% else %}white{% endif %}">Список отчетов</a></li>
            </ul>

        </div>
    </div>
</header>
{% block content %}
{% endblock %}
<div class="wrapper flex-grow-1"></div>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mx-auto">
        <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 - {% now 'Y' %} SuvorovJr, Inc</p>

        <a href="/"
           class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
        </a>
    </footer>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>